@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

/* Establish variables for the progress bar colors */
:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0; 
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f6f7fb;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: 'center';
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

/* Set up navigation styling */
.navigation {
    text-align: center;
}

/* Center everthing */
.container {
    text-align: center;
}

/* Evenly space the progress container, giving a designated with, max width, and making the position relative. */
.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

/* Using the pseudo ::before to start this styling before the element itself- this requires the content attribute to show. Establish the 'empty line' color and position. */
.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

/* Establish what the progress line should look like. */
.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: .4s ease;
}

/* Establish the empty circles styling for the div. */
.circle {
    background-color: white;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: .4 ease;
}

/* Change the border color when the circle has an active class as well. */
.circle.active {
    border-color: var(--line-border-fill);
}

 /* Style the buttons based on their status. */
.btn {
    background-color: var(--line-border-fill);
    color: white;
    border: 0;
    border-radius: 6px;
    font-family: inherit;
    font-size: 14px;
    padding: 8px 30px;
    margin: 5px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}