@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: 'center';
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.navigation-bar {
    background-color: antiquewhite;
    width: 100vw;
    border: solid 0.5px rgba(0, 0, 0, 0.46);
    box-shadow: 10px 10px 20px grey;
}

.navigation {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    max-width: 1000px;
}
