@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: 'center';
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.navigation {
    height: 20vh;
    text-align: center;
}

.panels {
    display: flex;
    height: 75vh;
    width: 95vw;
}

.panel {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
    border-radius: 50px;
    box-shadow: 5px 5px 8px gray;
    position: relative;
    margin: 10px;
    cursor: pointer;
    transition: .7s ease-in;
}

.panel h3 {
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    transition: 5 ease-in-out;
}

.panel.active {
    background-size: auto 100%;
    flex: 3;
    border-color: aqua;
    box-shadow: 5px 5px 15px aqua;
    transition: 1 ease-in;
}

.panel.active h3 {
    font-size: 25px;
    opacity: 1;
    transition: opacity 1.5s 0.5s;
}